# Dependencies
node_modules/
.pnp
.pnp.js

# Build
.next/
out/
dist/
build/

# Testing
coverage/
playwright-report/
test-results/

# Env
.env
.env*.local

# Debug
npm-debug.log*
.DS_Store
*.pem

# TypeScript
next-env.d.ts
tsconfig.tsbuildinfo

# IDE
.idea/
.vscode/
